*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.hidden *{
    visibility: hidden;
    height: 0;
}

#home{
    background-image: url("https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg?w=2000")
}

.nav-item{
    text-align: right;
    border-top: 1px solid darkgray;
}

.navbar-nav .nav-item:last-child>a{
    padding-bottom: 0;
}

.nav-item a{
    padding-right: 12px;
}


@media (min-width: 991.98px) { 
    .nav-item{
        border: none;
    }

    .nav-item a{
       font-size: larger;
    }
}

